/* Media Queries Mobile Navigation*/

@media (max-width: 45em) {

    .nav-bar {
        background-color: var(--white);
        flex-direction: column;
        padding: 4rem;
        position: fixed;
        inset: 15% 5% auto 5%;
        border-radius: 1rem;
        box-shadow: 0rem 2rem 4rem 0 var(--very-dark-black-blue);
        max-height: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition-property: transform, max-height;
    }
    .primary-navigation {
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }

    .primary-navigation li {
        width: 100%;
    }


    
    .login-btn,
    .sign-up-btn,
    .dropdown-toggle {
        font-size: 1.8rem;
    }

    .dropdown-toggle {
        justify-content: center;
    }

    .dropdown-menu {
        text-align: center;
        padding: 3rem;
        background-color: var(--grayish-blue);
        row-gap: 2rem;
        border-radius: 1rem;
    }



    .auth-actions {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        row-gap: 1rem;
        border-top: .1rem solid var(--grayish-blue);
    }

    .sign-up-btn {
        background: linear-gradient(90deg, var(--very-light-red), var(--light-red));
        color: var(--white);
    }
    

    .dropdown-toggle,
    .menu-item {
        color: var(--very-dark-blue-primary)
    }

} 